<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CCZU-helper.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4505C0222D6E027D004E7074</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4505C0352D6E027E004E7074</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4505C03F2D6E027E004E7074</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
